
html {
    background-color: #cef3ff;
    scroll-behavior: smooth;
   }

body {
    padding: 20px;
    padding-top:80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#projects-anchor {
    margin-top: 100%;
    padding-bottom: 25%; /* CHANGE */
}

#timeline-anchor {
    margin-top: 100%;
    padding-bottom: 25%; /* CHANGE */
}


.nav-buttons a {
    margin-right: 40px;
    text-decoration: none;
    color: #333; /* Dark gray text */
}

.social-icons a {
    margin-left: 12px;
}

/* after a certain point the icons wrap - FIX */

.social-icons img {
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
}

a {
    text-decoration: none !important;
    color: black;
  }

/* download button */
.download-link {
    background-color: #2a45de; /* Purple background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Adjust padding */
    border-radius: 20px; /* Oval shape */
    text-decoration: none; /* Remove default underline */
    display: inline-block; /* Make link display inline */
  }

  .download-link:hover {
    background-color: #001aad; /* Darker purple on hover */
  }


  .sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* z-index: 1000; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
