
html {
    background-color: #c4def6;
    scroll-behavior: smooth;
   }

body {
    padding-top: 150px;
    /* padding-top:200px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        /* display: flex; */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Set full height of the viewport */
    margin: 0; /* Remove default margin */

}



#timeline-anchor {
    margin-top: 100%;
    padding-bottom: 25%; /* CHANGE */
}

.nav-buttons {
    padding-right: 20px;
}


.nav-buttons a {
    margin-right: 40px;
    text-decoration: none;
    color: #333; /* Dark gray text */
}

.nav-buttons a:hover {
    color: #2a45de; /* Purple text color on hover */
}

.social-icons a {
    margin: 10px;
}

/* after a certain point the icons wrap - FIX */

.social-icons img {
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
}

a {
    text-decoration: none !important;
    color: black;
  }

/* download button */
.download-link, .back-button {
    background-color: #2a45de; /* Purple background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Adjust padding */
    border-radius: 20px; /* Oval shape */
    text-decoration: none; /* Remove default underline */
    display: inline-block; /* Make link display inline */
    text-align: center; /* Center text */
    max-width: 70px;  /* Remove max-width */
}

  .download-link:hover, .back-button:hover {
    background-color: #001aad; /* Darker purple on hover */
  }

/* nav bar that stays */
  .sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    z-index: 1000;
}




/* home page formatting */


.home-content {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    /* max-width: 800px; Set maximum width of container */
    padding: 20px; /* Add padding for spacing */
}


.profile-pic {

    margin-right: 50px; /* Adjust spacing between image and content */

}

img {
    border: 6px solid #2a45de; /* Add purple border */
    border-radius: 15px; /* Round the corners */
    overflow: hidden;
    display: block; /* Ensure the image fills the container */

}


.content {
    text-align: center; /* Center text */
}

/* projects and experiences section */

.projects-and-experiences {
    margin-top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.image-link {
    position: relative; /* Ensure overlay is positioned relative to this */
    margin: 0 2%; /* Adjust spacing between images */
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2a45de;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.image-link:hover .overlay {
    opacity: 1;
}
